#ifndef Q_CC_BOR
# if defined(UNDER_CE) && UNDER_CE >= 400
#  include <winbase.h>
# else
#  include <winver.h>
# endif
#endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,1,5,0
	PRODUCTVERSION 0,1,5,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904B0"
			BEGIN
				VALUE "CompanyName", "Alchemiestick IS\0"
				VALUE "FileDescription", "AIS CRM System Client Plugin.\0"
				VALUE "FileVersion", "0.1.5.0\0"
				VALUE "LegalCopyright", "Copyright (C) 2005-2007 Alchemiestick IS\0"
				VALUE "OriginalFilename", "stat_sogning.dll\0"
				VALUE "ProductName", "Helheds Modulet(statestik)\0"
			END
		END
	END
